.main {
    width: 85%;
    margin: 50px auto;
}

.dropdown-toggle::after {
    display: none;
}

.itemsContainer {
    float:left;
    position:relative
}
.itemsContainer:hover .play{display:block}
.play{
  position : absolute;
    display:none;
    top:0px; 
    z-index:100
} 

/* div {
    border-style: solid;
    border-color: black;
    border-width: 1px;
} */